{% load static %}
<head>
    <link rel="icon" type="image/jpg" href="{% static '/images/navbar/SuiteDreams.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dbcreate.css' %}">
    <title>Update Admin</title>
</head>
{% block content %}
    <div class="form-container">
        <div class="header">
            <h1>Update Admin</h1>
            <a href="{% url 'database' %}" class="back-button" onclick="return confirmBack();">
                <i class="ri-close-line"></i>
            </a>
        </div>
        <p class="intro-text">Please update the details below for the admin.</p>
        <form action="{% url 'admin_update' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div>
    <script>
        function confirmBack() {
            return confirm("Are you sure you want to go back? Any unsaved changes will be lost.");
        }
    </script>
{% endblock content %}
